.tagline{display:none !important;}
.searchInput-button {
  top: -0.1em;
  font-size: 1em;
  height: 2.3em;
}
.social li{
float:left;
margin-right: 3px;
}

.bar_3-compareAll{
display:none !important;
}
.pcfinder-called-out {
background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiÃ¢â‚¬Â¦pZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA==');
background-size: 100%;
background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #4fb4e3), color-stop(100%, #01618d));
background-image: -webkit-linear-gradient(#4fb4e3,#01618d);
background-image: -moz-linear-gradient(#4fb4e3,#01618d);
background-image: -o-linear-gradient(#4fb4e3,#01618d);
background-image: linear-gradient(#4fb4e3,#01618d);
background-color: #258ebf;
color: #fff;
border-color: #206485;
text-shadow: 1px 1px 1px #111111;
}
.pcfinder-called-out {
display: inline-block;
padding: 0.5em 0.em;
font-size: 1em;
border-width: 1px;
cursor: pointer;
margin: 0;
line-height: 1.5em;
}
.pcfinder-called-out:hover
{
    color: #fff;
    background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjUwJSIgeTE9IjAlIiB4Mj0iNTAlIiB5Mj0iMTAwJSI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzdjYzdlOCIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iIzAwODFiMyIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA==');
    background-size: 100%;
    background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #7cc7e8), color-stop(100%, #0081b3));
    background-image: -webkit-linear-gradient(#7cc7e8,#0081b3);
    background-image: -moz-linear-gradient(#7cc7e8,#0081b3);
    background-image: -o-linear-gradient(#7cc7e8,#0081b3);
    background-image: linear-gradient(#7cc7e8,#0081b3);
    background-color: #4fb4e3;
}

/*Rebranding Styles update */
#deals-splitter-container .title h1{
  font-family: Helvetica, Arial, sans-serif !important;
}
#deals-splitter-container .upper-promos .promos .wrapper-link .description h2.sub-title, #footerSignUp.newsletterInput-button{
  font-family: Helvetica, Arial, sans-serif !important;
  font-weight:bold;
}
.product-container .selector-title-counter .title, #gaming-wrapper h2, #gaming-wrapper h3, #hero h2{
font-family: Helvetica, Arial, sans-serif !important;
}

#hero > .herotext, .tabbedBrowse li.tab-item-currentTab .filter > span, .tabbedBrowse .moredeals > li, #tabs .bstr-title {
font-family: Helvetica, Arial, sans-serif !important;
}
.tabbedBrowse-productListing-title .reduxbuilder, .product-box .product-name,.gift-guide h1,.gift-container-lg .back h1{
font-family: Helvetica, Arial, sans-serif !important;
}
.product-container .products .product-title, .products .product-box .machinetitle, .bar_3-heading, .mastheadPageTitle{
  font-family: Helvetica, Arial, sans-serif !important;
  font-weight:bold;
}

/*.button-called-out{
  border:1px solid #206485 !important;
}
.button-standard{
  border:1px solid #a7a7a7 !important;
}
.button-called-out-alt{ border:1px solid #d48e08 !important;}
.button-standard-alt{border:1px solid #292929 !important;}
.button-called-out-positive{border:1px solid #317900 !important;}*/

/* End Rebranding styles */

@media (min-width:51em){
.bar_3 {padding-left: 5em}
}
@media (max-width:51em){
.bar_3-logos .left{min-height:0px;
margin-left:2%;
}
.bar_3-logos {min-height: 50px}

}

@media (max-width: 67.189em){

}

@media (max-width: 65.625em){

}