/* Overrides for JDA-injected footer */
#footer { background: none; min-height: auto; position: relative; text-align: left; width: 100%; z-index: 1; }
#footer ul { display: block; margin: 0; }
#footer ul li { display: list-item; }
#footer .social ul li{display:inline-block;}
.jdaFooterDiv, .footerLinks a, .footerLinks a:visited, .footerLinksLeft a:visited, .footerLinksLeft a, .footerLinksRight a:visited, .footerLinksRight a{
font:1em/1.75 helvetica,sans-serif;
}